[CRAB]
jobtype = cmssw

scheduler = glite 
#remoteGlidein
use_server=1

[CMSSW]
####HLT with lumi_mask in dbs
<datasetpath>

<lumi_mask>
pset			= HLT_Tau_Ntuple_cfg.py
<total_number_of_lumis>
<total_number_of_events>
<number_of_jobs>
<output_file>

#1 ignores TFileService 
skip_TFileService_output = 1
#(if 1) reads output file from cfg-File
#get_edm_output = 0
ignore_edm_output = 1

[USER]
#dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_01_writer/servlet/DBSServlet
additional_input_files = <Pile_Up_File>
storage_element = T2_DE_RWTH
copy_data = 1
return_data = 0
#prepare to publish in DBS
publish_data = 1
<publish_data_name>


user_remote_dir = 
#user_remote_dir is ignored if publish_data = 1
#user_remote_dir war in crab_2_4_1 noch lfn


[GRID]
rb = CERN
<se_white_list>
<se_black_list>
virtual_organisation = cms
group = dcms




